<!DOCTYPE html>

<head>
    <title>Home</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- custom css-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Google Open Sans Condensed font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet"> 
    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
             
</head>

<body>
    <div class="container-fluid" id="custom-border">
        <br>
        <!-- Header -->
        <div class="row" id="custom-border">
            <div class="col" id="custom-border">
                <h1 id="header">Effects of governmental policies in preventing COVID-19</h1>
            </div>
        </div>

        <!-- Sub Header -->
        <div class="row" id="custom-border">
            <div class="col" id="custom-border">
                <h3 id="sub-header">Choose your state to view the growth rates of infection</h3>
            </div>
        </div>

        <br><br>
        
        <!-- description -->
        <div class="row" id="custom-border">
            <div class="col-3" id="custom-border">
            </div>
            <div class="col-6" id="custom-border">
                <h3 id="description-head">Motivation</h3>
                <p id="description">
                    The novel coronavirus disease 2019 was announced as a pandemic by the World Health Organization (WHO) on March 11, 2020. 
                    In response to this pandemic several governmental interventions have taken place for reducing the growth rate of infection. 
                    By developing a mathematical model we plan to show how the enforcement of these policies by government and acceptability by people has reduced the growth rate of infection.
                </p>
            </div>
            <div class="col-3" id="custom-border">
            </div>
        </div>

        <br><br><br>
        
        <div class="container" id="results" style="padding: 30px;width:100%!important">
            <div class="row">
                <div class="col">
                    <h3 id="result-title">{{results}} &nbsp;<span>{{state}}</span></h3>
                </div>
            </div>
            <br>    
            <div class="row">
                <div class="col-7" >
                    <div class="row">

                         <canvas class="col" id="myChart" id="pre-policy" id="custom-border" align=center style="height: 421px;">

                        </canvas>
                    </div>
                    <br>
                    <div class="row">
                         <canvas class="col" id="myChart2" id="pre-policy" id="custom-border" align=center style="height: 421px;">

                         </canvas>
                    </div>
                </div>
              
                <div class="col-5">
                    <div class="row" id="custom-border">
                        <div class="col" id="control-panel">
                            <form  method="POST" action="{{ url_for('handle_data', _anchor='results') }}">

                                <!-- state !-->
                                <p id="title">Select State</p>
                                <div class="row boxed" id="custom-border">
                                    <!-- <div class="col" align=center>
                                        <input type="radio" id="il" name="state" value="Illinois">
                                        <label for="il">Illinois</label>
                                    </div>
                                    <div class="col" align=center>
                                        <input type="radio" id="ny" name="state" value="New York" disabled>
                                        <label for="ny" style="color:#ccc">New York</label>
                                    </div> -->
                                    <div class="col" align=center>
                                        <select id="state" name="state">
                                            {% for state in states %}
                                            <option value="{{ state }}">{{ state }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>


                                <p id="title">Select Policy <br> <span style="color:#999;font-size:13px">(lower value is better)</span></p>
                                <!-- mask !-->
                                <div class="row boxed" id="custom-border">
                                    <div class="col" align=center>
                                        <input type="checkbox" id="mask" name="policy" value="mask">
                                        <label for="mask">Mask Mandate</label>
                                    </div>
                                    <div class="col" align=center>
                                        <select id="enf" name="mask">
                                            {% for enf_value in enf_values %}
                                            <option value="{{ enf_value }}">{{ enf_value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <br>

                                <!-- social_distance !-->
                                <!-- <div class="row boxed" id="custom-border">
                                    <div class="col" align=center>
                                        <input type="checkbox" id="social_distance" name="policy" value="social_distance">
                                        <label for="social_distance">Social Distance</label>
                                    </div>
                                     <div class="col" align=center>
                                        <select id="enf" name="social_distance">
                                            {% for enf_value in enf_values %}
                                            <option value="{{ enf_value }}">{{ enf_value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                <br> -->

                                <!-- sd_intent !-->
                                <div class="row boxed" id="custom-border">
                                    <div class="col" align=center>
                                        <input type="checkbox" id="sd_intent" name="policy" value="sd_intent">
                                        <label for="sd_intent">Social Distance Intent</label>
                                    </div>
                                     <div class="col" align=center>
                                        <select id="enf" name="sd_intent">
                                            {% for enf_value in enf_values %}
                                            <option value="{{ enf_value }}">{{ enf_value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>


                                <br>
                                <!-- transit stations !-->
                                <div class="row boxed" id="custom-border">
                                    <div class="col" align=center>
                                        <input type="checkbox" id="transit_stations" name="policy" value="transit_stations">
                                        <label for="transit_stations">Transit Stations</label>
                                    </div>
                                     <div class="col" align=center>
                                        <select id="enf" name="transit_stations">
                                            {% for enf_value in enf_values %}
                                            <option value="{{ enf_value }}">{{ enf_value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                 <br>

                                <!-- groc pharma !-->
                                <div class="row boxed" id="custom-border">
                                    <div class="col" align=center>
                                        <input type="checkbox" id="grocery_pharmacy" name="policy" value="groc_pharma">
                                        <label for="grocery_pharmacy">Grocery & Pharmacy</label>
                                    </div>
                                     <div class="col" align=center>
                                        <select id="enf" name="groc_pharma">
                                            {% for enf_value in enf_values %}
                                            <option value="{{ enf_value }}">{{ enf_value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                 <br>

                                <!-- reatail_recreations !-->
                                <div class="row boxed" id="custom-border">
                                    <div class="col" align=center>
                                        <input type="checkbox" id="retail_recreation" name="policy" value="retail_recreation">
                                        <label for="retail_recreation">Retail & Recreation</label>
                                    </div>
                                     <div class="col" align=center>
                                        <select id="enf" name="retail_recreation">
                                            {% for enf_value in enf_values %}
                                            <option value="{{ enf_value }}">{{ enf_value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>


                                <br>

                                <!-- workplace !-->
                                <div class="row boxed" id="custom-border">
                                    <div class="col" align=center>
                                        <input type="checkbox" id="workplace" name="policy" value="workplace">
                                        <label for="workplace">Work Place</label>
                                    </div>
                                     <div class="col" align=center>
                                        <select id="enf" name="workplace">
                                            {% for enf_value in enf_values %}
                                            <option value="{{ enf_value }}">{{ enf_value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                 <br>

                                <!-- parks !-->
                                <div class="row boxed" id="custom-border">
                                    <div class="col" align=center>
                                        <input type="checkbox" id="parks" name="policy" value="parks">
                                        <label for="parks">Parks</label>
                                    </div>
                                     <div class="col" align=center>
                                        <select id="enf" name="parks">
                                            {% for enf_value in enf_values %}
                                            <option value="{{ enf_value }}">{{ enf_value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                <br>
                                <div class="row" id="custom-border" style="padding-bottom: 0px;">
                                    <div class="col" align=center>
                                        <input type="submit" value="submit">
                                    </div>
                                </div>

                                <div class="row" id="custom-border">
                                    <div class="col" align=center>
                                        <p style="color:red;margin-top:5px;">{{warn}}</p>
                                    </div>
                                </div>
                                <br>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <div class="row" id="custom-border">
            <div class="col-3" id="custom-border">
            </div>
            <div class="col-6" id="custom-border">
                <h3 id="description-head">How it works?</h3>
                <p id="description">
                    The model we use relies on lot of data from different sources. 
                    Using the SIR model as the base, we attempted to configure a model to establish relationship between 
                    transmission coefficient and impact due to policies in reducing the spread of the disease COVID-19.</p>
            </div>
            <div class="col-3" id="custom-border">
            </div>
        </div>  
        <br>
        <hr>

    </div>

<script>
    var data1 = {{data1}};
    var data2 = {{data2}};
    console.log(data1);
    var ctx = document.getElementById('myChart');
    Chart.defaults.global.defaultFontColor = '#fff';
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
            datasets: [
            {
                label: 'With Policy',
                data: data1,
                    
                borderWidth: 1,
                fill: false,	
                borderColor: '#e94256',
                   backgroundColor:'#e94256',
                   borderWidth: 3,
            },
            {
                label: 'Without Policy',
                data: data2,
                    
                borderWidth: 1,
                fill: false,	
                borderColor: '#FFF',
                   backgroundColor:'#FFF',
                   borderWidth: 3,
            }],
        },
        options: {
            legend: {
                labels: {
                    fontColor: "#fff",
                }
            },
            scales: {
                yAxes: [{
                    gridLines: {
                        zeroLineColor: '#fff',
                    }
                }]
            },
        }
    });
</script>

<script>
    var data3 = {{data3}};
    var data4 = {{data4}};

    var ctx = document.getElementById('myChart2');
    Chart.defaults.global.defaultFontColor = '#fff';
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69]
,
            datasets: [
            {
                label: 'With Policy',
                data: data3,

                borderWidth: 1,
                fill: false,
                borderColor: '#548c8c',
               backgroundColor:'#548c8c',
               borderWidth: 3,
            },
            {
                label: 'Without Policy',
                data: data4,

                borderWidth: 1,
                fill: false,
                borderColor: '#FFF',
                   backgroundColor:'#FFF',
                   borderWidth: 3,
            }],
        },
        options: {
            legend: {
                labels: {
                    fontColor: "#fff",
                }
            },
            scales: {
                yAxes: [{
                    gridLines: {
                        zeroLineColor: '#fff',
                    }
                }]
            },
        }
    });
</script>

</body>
</html>